/* Webfont: AristaProAlternate-Regular */@font-face {
    font-family: 'AristaProAlternate';
    src: url('/fonts/mout/AristaProAlternate-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/mout/AristaProAlternate-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/mout/AristaProAlternate-Regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/mout/AristaProAlternate-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/mout/AristaProAlternate-Regular.svg#AristaProAlternate-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: AristaProAlternate-Fat */@font-face {
    font-family: 'AristaProAlternateFat';
    src: url('/fonts/mout/AristaProAlternate-Fat.eot'); /* IE9 Compat Modes */
    src: url('/fonts/mout/AristaProAlternate-Fat.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/mout/AristaProAlternate-Fat.woff') format('woff'), /* Modern Browsers */
    url('/fonts/mout/AristaProAlternate-Fat.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/mout/AristaProAlternate-Fat.svg#AristaProAlternate-Fat') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: AristaProAlternate-Hairline */@font-face {
    font-family: 'AristaProAlternateHairline';
    src: url('/fonts/mout/AristaProAlternate-Hairline.eot'); /* IE9 Compat Modes */
    src: url('/fonts/mout/AristaProAlternate-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/mout/AristaProAlternate-Hairline.woff') format('woff'), /* Modern Browsers */
    url('/fonts/mout/AristaProAlternate-Hairline.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/mout/AristaProAlternate-Hairline.svg#AristaProAlternate-Hairline') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: AristaProAlternate-Light */@font-face {
    font-family: 'AristaProAlternateLight';
    src: url('/fonts/mout/AristaProAlternate-Light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/mout/AristaProAlternate-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/mout/AristaProAlternate-Light.woff') format('woff'), /* Modern Browsers */
    url('/fonts/mout/AristaProAlternate-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/mout/AristaProAlternate-Light.svg#AristaProAlternate-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
