//Edit account
div.mout-admin-middle-content-panel#edit-store {
    background: rgb(255,137,0);
    background: linear-gradient(90deg, rgba(255,137,0,1) 0%, rgba(240,69,0,1) 50%, rgba(224,0,0,1) 100%);

    & div.store-form-container {
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        color: #ffffff;

        & div.store-form-left-container {
            width: 45%;
        }

        & input, label {
            color: #ffffff !important;
            font-family: $mout-font;

            &[type="file"] ~ label {
                color: #333333 !important;
            }
        }

        & input[type="text"] {
            border-bottom: 1px solid #ffffff !important;
            margin-block-end: 2em;
            font-family: $mout-font;
        }

        & div.store-form-right-container {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & img {

                &[src=""] {
                   display: none;
                }

                width: 50%;
                height: 300px;
                object-fit: cover;
                display: block;
            }

            & div.download-informations-store {
                padding-bottom: 2em;

                &:first-of-type {
                    border-bottom: 1px solid #ffffff;
                }

                &:nth-of-type(2) {
                    margin-top: 2em;
                }

                & i {
                    font-size: 1.5em;
                    margin-bottom: .5em;
                }
            }

            & div.button-container {
                margin-top: 2em;
            }
        }

        & div.floating-label {
            display: flex;
        }
    }
}
div.amount-container {
    display: flex;
    justify-content: center;
    align-items: baseline;

    & label {
        margin: 0 1em 0 .2em;
    }
}

div.numbercard-container {
    display: grid;
    margin-bottom: 1em;
    grid-template-columns: 60px 200px 35px;
    width: 365px;
    padding: 2em;
    border: 1px solid #47525d;

    & div.brand-card-informations-content {
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 18px;
        }
    }

    & div.brand-card-delete {
        display: flex;
    }
}

div.mout-admin-middle-users-manager#credit-card-container {
    //grid-template-rows: 250px auto;
    display: grid;
}
