div.container-fluid {
    padding: 0;
}

form#loginform, form#registerForm {
    width: 45%;
}

form#registerForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.mout-public-login-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;

    & div.mout-public-login-left-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(1,16,10);
        background: linear-gradient(180deg, rgba(1,16,10,1) 0%, rgba(1,49,27,1) 50%, rgba(1,82,44,1) 100%);

        & input, label {
            color: #ffffff;
        }

        & h1 {
            font-family: Assistant;
            color: black;
            font-size: 60px;
            font-weight: 700;
        }

    }

    & div.mout-public-login-right-panel {
        display: flex;
        justify-content: center;
        align-items: start;
        background: url(/images/admin/middle/login-register-foodcard.jpg);
        background-size: cover;

        & h2 {
            font-family: Assistant;
            font-size: 80px;
            color: white;
        }

        & svg {
            width: 30%;
            margin-top: 15%;
        }
    }
}

//Inputs
input#name, select#store-type {
    border-bottom: 2px solid #FF7F00 !important;
}

.floating-input:not(:placeholder-shown) ~ label.float {
    color: #FF7F00 !important;
}

input#lastname, input#password {
    border-bottom: 2px solid #FFCD00 !important;
}

input#email, input#password-confirm {
    border-bottom: 2px solid #FF0000 !important;
}

input#store {
    border-bottom: 2px solid #00C332 !important;
}

select#store-type {
    width: 100%;
    background: none;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
}

