//Input search

input.search-menu {
    width: 250px;
    margin: 0 auto;
    color: #11491F;
    border: none;
    background: rgb(245,245,245);
    background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(221,221,221,1) 50%, rgba(198,198,198,1) 100%);
}

div.my-menu-search-container {
    display: grid;
    width: 400px;
    min-height: 250px;
    grid-template-columns: repeat(2, 1fr);
    margin: 2em auto;


    & div.my-menu-search-content {

        &#left-content {
            border-right: 1px solid #D1D1D1;
            & span.my-menu-search-category {

            }
        }
    }
}
